.container {
  display: grid;
  grid-template-columns: 6px 1fr 0;
  grid-template-rows: 64px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  width: 100vw;
}

.container yeah-header {
  grid-area: 1 / 1 / 2 / 4;
}

.container main {
  grid-area: 2 / 2 / 3 / 3;
  overflow: auto;
}
