<div class="card">
  <ng-template [ngIf]="mode === 'show'" [ngIfThen]="show"></ng-template>
  <ng-template [ngIf]="mode === 'edit'" [ngIfThen]="edit"></ng-template>
  <ng-template [ngIf]="mode === 'delete'" [ngIfThen]="delete"></ng-template>
</div>

<ng-template #show>
  <yeah-link link="{{ url.link }}"></yeah-link>
  <yeah-tag-list>
    <yeah-tag-item
      *ngFor="let tag of url.tags"
      [item]="tag"
      (selectedTagItem)="fireSelectedTag($event)"
    ></yeah-tag-item>
  </yeah-tag-list>
  <yeah-separator></yeah-separator>
  <div class="card-actions">
    <yeah-button (click)="toggleDeleteConfirmationMode()">Delete</yeah-button>
    <yeah-button (click)="fireEditUrl()">Edit</yeah-button>
  </div>
</ng-template>

<ng-template #edit>
  <yeah-textarea
    inputId="txtEditUrl"
    inputTabIndex="1"
    placeholderText="Edit your URL..."
    labelText="URL"
    inputValue="{{ url.link }}"
    rowCount="3"
    name="edit-url"
    ngModel
  >
  </yeah-textarea>
  <yeah-tag-list>
    <yeah-tag-item
      *ngFor="let tag of url.tags"
      [item]="tag"
      showDeleteIcon="true"
      (selectedTagItem)="fireSelectedTag($event)"
      (deleteTagItem)="fireDeleteTag($event)"
    ></yeah-tag-item>
  </yeah-tag-list>
  <yeah-separator></yeah-separator>
  <div class="card-actions">
    <yeah-button (click)="cancelEditMode()">Cancel</yeah-button>
    <yeah-button (click)="fireEditUrl()">Save</yeah-button>
  </div>
</ng-template>

<ng-template #delete>
  <div class="delete-container">
    <div class="delete-confirmation_text">
      Are you sure to delete this URL?
    </div>
    <yeah-separator></yeah-separator>
    <div class="card-actions delete-actions">
      <yeah-button (click)="toggleDeleteConfirmationMode()">Cancel</yeah-button>
      <yeah-button (click)="fireDeleteUrl()">Delete</yeah-button>
    </div>
  </div>
</ng-template>
