.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 64px);
}

form {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 24px 24px 18px 24px;
  border-radius: 8px;
  background: #12102e;
  color: #ffffff;
  box-shadow: 0 8px 10px -3px #12102e, 0 4px 6px -2px #12102e;
  transition: 0.3s;
}
form:hover {
  box-shadow: 0 20px 30px -3px #12102e, 0 8px 12px -2px #12102e;
}

form yeah-input,
form yeah-textarea {
  margin-bottom: 12px;
}

form yeah-button {
  display: flex;
  justify-content: flex-end;
  margin: 4px;
}
