<div class="tabs-container">
  <input type="radio" name="tabs" id="tab1" checked />
  <div class="tab-label-content" id="tab1-content">
    <label for="tab1">User Management</label>
    <div class="tab-content">
      TAB 1 - Lorem ipsum dolor sit amet
    </div>
  </div>

  <input type="radio" name="tabs" id="tab2" />
  <div class="tab-label-content" id="tab2-content">
    <label for="tab2">Tag Management</label>
    <div class="tab-content">
      TAB 2 - Quisque egestas, purus in tempor vulputate
    </div>
  </div>

  <input type="radio" name="tabs" id="tab3" />
  <div class="tab-label-content" id="tab3-content">
    <label for="tab3">Duplicate URL's</label>
    <div class="tab-content">
      TAB 3 - Donec vulputate ante ac ligula vestibulum
    </div>
  </div>
</div>
