.input-container {
  position: relative;
  margin-top: 12px;
}

.input-control {
  width: 100%;
  height: 36px;
  padding-top: 6px;
  padding-left: 0;
  color: white;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-color: hsla(185, 100%, 62%, 0.2);
}

.input-control:focus {
  outline: none;
}
.input-control::placeholder {
  color: hsla(0, 0%, 100%, 0.6);
}
.input-control:-webkit-autofill,
.input-control:-webkit-autofill:hover,
.input-control:-webkit-autofill:focus {
  -webkit-text-fill-color: #fc2f70;
  transition: background-color 5000s ease-in-out 0s;
}

.input-control_label {
  font-weight: 400;
  font-size: small;
  text-transform: uppercase;
}

.input-container .input-control_label {
  position: absolute;
  top: 4px;
  left: 1px;
  opacity: 0;
  margin-bottom: 0;
  transition: all 0.3s ease;
}

.input-container .input-control + .input-control_label {
  -webkit-transform: translateY(-14px);
  transform: translateY(-14px);
  opacity: 0.9;
}

.input-control_underline {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #3cefff;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.input-control:focus ~ .input-control_underline,
.input-control:hover ~ .input-control_underline {
  transform-origin: bottom left;
  transform: scaleX(1);
}
